# dependencies
node_modules/
.pnpm-store/
.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
.next/
out/
build/

# production
dist/

# testing
coverage/

# local files
.env
.env*.local
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel/
